<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head.ejs") %>
</head>

<body>

    <%- include("partials/nav.ejs") %>

    <h2> <%=rockName%> </h2>

    <div class="column">
        <div class="colLeft">
            <%=rockInfo.def%>
            <br>
            <p>Link to NASA Site: <a href="<%=rockInfo.link%>">Here</a></p>
        </div>
        <div class="colRight">
            <img src="<%=rockInfo.image %>" width="300">
        </div>
    </div>

    <%- include("partials/footer.ejs") %>

</body>

</html>